
{% extends 'base.html.twig'  %}
{% block body %}
    <div class="row">
        <div class="col">

{#% include "_inc/flash.message.html.twig" %#}       
            <p>
                <h3>Hello World !!</h3>
            </p>
        </div>
    </div>
{% endblock %}