{% extends 'base.html.twig' %}

{% block body %}
	<div class="row">
		<div class="col">
			<h1>Administration</h1>
			<p>
				<a href="{{ url('admin.etape.index') }}" class="btn btn-outline-info col-md-3 mr-3 mb-3">Gérer les étapes</a>

				<a href="{{ url('admin.pays') }}" class="btn btn-outline-info col-md-3 mr-3 mb-3">Gérer les pays visités</a>
			</p>
		</div>
	</div>
{% endblock %}